.blog-heading{
    padding-top: 20px;
    padding-bottom: 40px;
}
.blog-text{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Lora', serif;
    color: #252525;
}
.single-blog{
    margin-bottom: 40px;
    position: relative;
    .blog-link{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
    }
}
.single-blog:hover{
    .blog-title{
        color: #FFBF1B;
    }
}
.blog-img{
    margin-bottom: 23px;

    .featured-img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}
.blog-title{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lora', serif;
    margin-bottom: 14px;
}
.blog-title:hover{
    color: #FFBF1B;
}
.blog-time{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    color: #8F8F8F;
}
@media only screen and (max-width: 400px){
    .blog-text{
        text-align: center;
    }
}