body.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.body .lora {
  font-family: 'Lora', serif;
  font-weight: 400;
}

body.body .row-gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

body.body .row-gallery > .col-gallery1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  max-width: 320px;
}

body.body .row-gallery > .col-gallery2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 320px);
          flex: 0 0 calc(100% - 320px);
  max-width: calc(100% - 320px);
}

main.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

main.main .wrapper-content {
  padding: 20px;
  height: 100%;
}

header.header {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header.header nav.navbar {
  padding: 0;
  height: 120px;
}

header.header nav.navbar .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header.header .navbar-logo {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .navbar-logo .logo {
  display: inline-block;
}

header.header .navbar-logo .logo img {
  max-height: 56px;
}

header.header .navbar-search {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.header .navbar-nav-search {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 50px;
  height: 42px;
}

header.header .navbar-nav-search .search-value {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 15px;
  margin-right: 15px;
  height: inherit;
}

header.header .navbar-nav-search .search-line {
  width: 1px;
  height: 30px;
  background-color: #dedede;
}

header.header .navbar-nav-search .search-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: inherit;
}

header.header .navbar-nav-search .search-input .form-control {
  border-color: transparent;
  height: inherit;
  width: 360px;
  background-color: transparent;
}

header.header .navbar-nav-search .item-value {
  padding-left: 8px;
  padding-right: 8px;
  height: inherit;
}

header.header .navbar-nav-search .item-value:first-child {
  padding-left: 3px;
}

header.header .navbar-nav-search .item-value:last-child {
  padding-right: 3px;
}

header.header .navbar-nav-search .item-value.show > .dropdown-toggle > .text {
  color: #ffbf1b;
}

header.header .navbar-nav-search .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  float: none;
  padding: 0;
  margin: 5px 0 0 0;
  width: 100%;
  min-width: auto;
  border: none;
  font-size: 0;
  z-index: 99;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

header.header .navbar-nav-search .dropdown-item {
  padding: 10px 20px;
  color: transparent;
}

header.header .navbar-nav-search .dropdown-item + .dropdown-item {
  border-top: 1px solid #e9ecef;
}

header.header .navbar-nav-search .dropdown-item p {
  font-size: 14px;
  line-height: 1.5;
  color: #252525;
}

header.header .navbar-nav-search .dropdown-item:hover, header.header .navbar-nav-search .dropdown-item.hover {
  color: transparent;
  background-color: #ffbf1b;
}

header.header .navbar-nav-search .dropdown-item:hover p, header.header .navbar-nav-search .dropdown-item.hover p {
  color: #875E1C;
}

header.header .navbar-nav-search .dropdown-item:active, header.header .navbar-nav-search .dropdown-item.active {
  color: transparent;
  background-color: transparent;
}

header.header .navbar-nav-search .dropdown-toggle {
  border: none;
  padding: 5px 0;
  border-radius: 0;
  height: inherit;
  font-size: 0;
  display: block;
}

header.header .navbar-nav-search .dropdown-toggle .text {
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

header.header .navbar-nav-search .dropdown-toggle:after {
  content: initial;
}

header.header .navbar-nav-button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header.header .navbar-nav-button .btn-search {
  border-radius: 50%;
  background-color: #ffbf1b;
  width: 48px;
  height: 48px;
}

i.symbol {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: none;
  background-color: transparent;
  background-size: contain;
}

i.symbol.chevron-down {
  background-image: url(../images/chevron-down.png);
  height: 6px;
  width: 12px;
}

i.symbol.chevron-down2x {
  background-image: url(../images/chevron-down.svg);
  height: 13px;
  width: 24px;
}

i.symbol.chevron-up {
  background-image: url(../images/chevron-up.png);
  height: 6px;
  width: 12px;
}

i.symbol.chevron-up2x {
  background-image: url(../images/chevron-up.svg);
  height: 13px;
  width: 24px;
}

i.symbol.icon-search {
  background-image: url(../images/search.svg);
  height: 29px;
  width: 29px;
}
/*# sourceMappingURL=filter.css.map */