article.article{
	padding-top: 20px;
	padding-bottom: 20px;
	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
	.title-content{
		margin-bottom: 20px;
		text-align: left;
		.text{
			font-size: 28px;
		}
	}
}
article.article-list, .article-home{
	.list-content{
		max-width: 400px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 0 auto;
	}
	.box-image{
		overflow: hidden;
		height: 200px;
		.image{
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: none;
			display: block;
			height: inherit;
			width: inherit;
			a{
				display: inline-block;
			}
			img{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.box-info{
		margin-top: 15px;
		.name{
			font-size: 18px;
			margin-bottom: 10px;
			color: #fff;
			max-height: 54px;
			overflow: hidden;
			a{
				font-size: inherit;
				color: inherit;
			}
		}
		.time{
			color: #ccc;
		}
	}
}
article.article-detail{
	overflow: auto;
	max-height: 650px;
	margin: 0 auto;
	&::-webkit-scrollbar-track{
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		background-color: #F2F2F2;
	}
	&::-webkit-scrollbar{
		border-radius: 10px;
		width: 12px;
		background-color: #F2F2F2;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		background-color: #ccc;
	}
	.detail-content{
		h2, h3, h4, h5, h6{
			font-size: 18px;
			padding-bottom: 12px;
			padding-top: 4px;
			font-weight: 500;
			font-size: 18px
		}
		b, strong{
			color: inherit;
			font-size: inherit;
			font-weight: 700;
		}
		ol{
			list-style: decimal;
		}
		ul{
			list-style: disc;
		}
		ol, ul{
			padding-left: 30px;
			padding-bottom: 12px;
			padding-top: 4px;
			>li{
				font-size: 15px;
				line-height: 24px;
				padding-bottom: 5px;
				&:last-child{
					padding-bottom: 0;
				}
			}
		}
		a, p{
			font-size: 15px;
			padding-bottom: 8px;
			line-height: 24px;
			color: #fff;
		}
		a{
			text-decoration: underline;
		}
		img{
			height:auto;
		}
		.wp-block-image{
			margin-top: 8px;
			margin-bottom: 16px;
			text-align: center;
			figcaption{
				margin-top: 8px;
				margin-bottom: 0;
				font-size: 14px;
				color: #8f8f8f;
			}
		}
		.wp-block-gallery{
			text-align: center;
			ul{
				padding-left: initial;
			}
			li{
				list-style-type: none;
				display: inline-block;
				padding: 5px 5px;
			}
		}
		blockquote {
			display: block;
			margin: 8px 15px 16px 15px;
			padding: 15px 20px;
			background-color: #eee;
			border-radius: 3px;
			>p{
				color: #8F8F8F;
				padding-bottom: 0;
			}
		}
	}
}
article.article-contact{
	.contact-content{
		max-width: 600px;
		.item-info{
			height: 300px;
			overflow: hidden;
		}
		.info{
			font-size: 15px;
			color: #fff;
			text-align: justify;
			line-height: 2;
		}
		.item-address{
			padding: 6px 0;
			&:after{
				content: '';
				display: block;
				margin-top: 12px;
				width: 100%;
				height: 1px;
				background-color: #8f8f8f;
			}
		}
		.address{
			font-size: 16px;
			color: #fff;
		}
	}
}